# BEGIN: /c:/Users/miyam/OneDrive/Desktop/dev/GITHUB/FAST_AND_SLOW/Fast_And_Slow/.gitignore
venv

.env

./sample_code.txt

result

# END: /c:/Users/miyam/OneDrive/Desktop/dev/GITHUB/FAST_AND_SLOW/Fast_And_Slow/.gitignore
